
  input,
  textarea {
    padding: 5px;
    padding-right: 0;
    border: none;
    font-size: 20px;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
  }

  .checkbox-wrapperbox{
    display: flex;
    flex-direction: column;
}

.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #cb2d3e;
  outline: none;
  cursor: pointer;
}

.checkbox-wrapper input.checked {
  background-color: #cb2d3e;
  position: relative;
}

.checkbox-wrapper input.checked::before {
  content: "2714";
  font-size: 1.5em;
  color: #E4E5E8;
  position: absolute;
  right: 1px;
  top: -5px;
}

.checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: #E4E5E8;
  background-color: #0C0C1E;
}

.checkbox-wrapper input[type="checkbox"]:disabled + span {
  color: #0C0C1E;
}

.checkbox-wrapper input:checked {
  background-color: #cb2d3e;
  position: relative;
}

.checkbox-wrapper input:checked::before {
  font-size: 1.5em;
  color: #E4E5E8;
  position: absolute;
  right: 1px;
  top: -5px;
}
