/* #BA0F30 Red  #cb2d3e*/ 
/* #E4E5E8 Cool Gray*/
/* #0C0C1E  Black*/
/* #1B2E3C Dark Grey */
.Nav-bar {
    width: 100%;
    height: 100px;
    background-color: #1B2E3C; 
    color: #E4E5E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    
    position: fixed;
    z-index: 20;
    
}

.logo-box{
   display: flex;
   
}

.filter-red{
    filter: invert(19%) sepia(69%) saturate(2927%) hue-rotate(339deg) brightness(105%) contrast(83%);
}

.filter-red:hover{
    filter: invert(100%) sepia(8%) saturate(815%) hue-rotate(155deg) brightness(101%) contrast(81%);
}

.left-Nav-bar{
    display: flex;
    justify-content: space-between;
}

.Home-button-box{
    margin: 10px;
    display: flex;
    align-items: center;
    color: #cb2d3e
}

.Profile-button-box{
    color: #cb2d3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}

.Profile-button-box:hover{
    color: #E4E5E8;  
}

.Profile-name{
    color: #1B2E3C;
    background-color: #cb2d3e;
    padding: 2px;
    height: fit-content;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}

.right-Nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Create-button{
    color: #cb2d3e;
    display: inline-flex;
    text-decoration: none;
    margin: 10px
}

.Create-button:hover{
    color: #E4E5E8;   
}

.button-box {
    margin: 10px;
}


/* CSS */
.button-62 {
    display: flex;
    padding:  10px ;
    align-items: center;
    width: fit-content;
    background: linear-gradient(to bottom right, #cb2d3e, #cb2d3e);
    border: 0;
    border-radius: 5px;
    color: #0C0C1E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: box-shadow, color .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62 p{
    margin: 0;
}


.button-62:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);

    color: #E4E5E8;
}


.searchBox {
    background: #0C0C1E;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #cb2d3e;
  color: #E4E5E8;
}

.searchButton {
    color : #0C0C1E;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cb2d3e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: #E4E5E8;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}