.Topics-bar{
    /* margin-top: 0;
    height:100%; */
    /* width: 150px; */
    /* align-content: center; */
    /* justify-content: center; */
    position: fixed;
    top: 100px;
    margin: 40px 0px 0px 0px;
    /* top: 140px; */
    z-index: 20;
    /* background-color: #cb2d3e; */
}

.ps-menu-button{
    background-color: #cb2d3e;
}

.ps-menu-button span:hover{
    color: #cb2d3e;
}


.Header-box{
        background-color: #1B2E3C;
        border-top-right-radius: 5px;
        align-items: center;
        justify-content: center;
}

.Header-box h2{
    /* margin-left: 20px; */
    margin: 0 20px 0px 20px;
    padding: 20px 0 20px 0;
}

/* .more-button{
    margin: 20px;
    color:#cb2d3e;
    width: 100%;
    height: 100%;
}

.more-button:hover{
    background-color: #1B2E3C;
    color:#E4E5E8;

} */

