/* BUTTON */


/* CSS */
.button-29 {
    align-content: center;
    appearance: none;
    background-color: #cb2d3e;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #E4E5E8;
    cursor: pointer;
    height: 30px;
    /* justify-content: center; */
    /* line-height: 1; */
    /* list-style: none; */
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    /* position: flex; */
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 12px;
    margin: 0 0 0 0;
  }

  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #cb2d3e 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #cb2d3e 0 3px 7px inset;
    color: #0C0C1E;
    transform: translateY(2px);
  }

.request-sent{
  color:#E4E5E8;
  padding: 5px;
  border-radius: 5px;
  font-size: smaller;
  background-color: #cb2d3e ;
}

.kick-button-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-kick-button-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
