
.Project-set{ 
    height: fit-content;
    margin: 40px 20px 0 20px;
    padding: 0;
}

.ProjectItem-box{
    color: #1B2E3C;
    margin: 0px 20px 20px 0px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    transition: 0.3s;
}

.ProjectItem-box:hover{
    color: #1B2E3C;
    scale: 101%;
    box-shadow: 1px -1px 20px 2px rgba(255,255,255,0.33);
    -webkit-box-shadow: 1px -1px 20px 2px rgba(255,255,255,0.33);
    -moz-box-shadow: 1px -1px 20px 2px rgba(255,255,255,0.33);
    transition: 0.5s;
}

.ProjectItem-header{
    display: flex;
    justify-content: space-between;
    background-color: #1B2E3C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #E4E5E8;
}

.ProjectItem-header:hover{
background-color: #cb2d3e;
transition: 0.5s;
}

.ProjectItem-header h3{
    padding: 0 10px 0 10px;
}


.ProjectItem-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E4E5E8;
    color: #0C0C1E;
}

.ProjectItem-body h3{
    padding: 0 10px 0 10px;
}

.Text-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.Button-stage-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.project-compatibility{
    color: #E4E5E8;
    font-size: 12px;
    padding: 2px;
    margin:5px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 5px;
    width: fit-content;
}

.ProjectItem-header-box{
    display: flex
}

.admin-box{
    text-decoration: none;
    color:#cb2d3e ;
    transition: 0.3s;
    
}

.admin-box:hover{
    transition: 0.5s;
    color:#0C0C1E;   
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    margin: 2px;
    
}
.request-member-box{
text-decoration: none;
color:#cb2d3e ;
transition: 0.3s;

}

.request-member-box:hover{
    color:#E4E5E8 ;
    transition: 0.3s;

}

.Nav-box{
display: flex;
flex-direction: row;

}

.Nav-box h3{
    margin-right: 10px;
}

.admin-link-box{
    display: flex;
flex-direction: row;
align-items: center;
}

.admin-link-box admin-box{
    padding-left: 0px;
}