.button-bottom-box{
    display: flex;
    justify-content: center;
    background-color:  #1B2E3C;
    padding: 10px 50px 10px 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    /* background: linear-gradient(to bottom right, #cb2d3e, #cb2d3e); */
}

.button-submit{
     /* height: 50px; */
    /* font-size: 16px;
    font-weight: 500; */
    outline: transparent;
    padding: 0 1rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap; 
    display: inline-block;
    text-align: center;
    transition: box-shadow, color .2s ease-in-out;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-radius: 7px;
    background: linear-gradient(to bottom right, #cb2d3e, #cb2d3e);
    cursor: pointer;
    color: #E4E5E8;
    border: 0;
    background-color: blueviolet;
}

.button-submit:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    color: #0C0C1E;
}

.Bottom-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



