.Submit-form-box{
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 250px;
    background-color: #1B2E3C;
    border-radius: 5px;
    margin: 40px 50px 0 50px;
    /* margin: 40px 0 0 40px; */
}

.Name-box{
    display: flex;
    margin: 0 20px ;
    align-items: center;
    justify-content: space-between;
}


.Body-box{
    display: flex;
    background-color: #E4E5E8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.topic-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Right-box-select-skills{
    display: flex;
    flex-direction: column;
}

.Details-left-box{
    /* background-color: #1B2E3C; */
    width: 70%;
    margin: 20px 20px 20px 20px;
    color:#0C0C1E
}




