html,
body {
    margin: 0;

}

.Main {
    display: flex;
}

.Main-body {
    background-color: #0C0C1E;

    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.Side-bar {
    /* background-color: #cb2d3e;  */
    height: 100hv;
    width: 320px;
    /* background-color:#1B2E3C; */

}